.product{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.innerProduct{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.productAddtoCart{
    padding: 12px 20px;
    background-color: #026fff;
    color: #fff;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}